# Tailscale + Docktail
TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=
TS_AUTHKEY=
# Nom de la machine sur le tailnet
TS_HOSTNAME=musique


# Emplacements de vos médias sur l'hôte
MUSIC_DIR=/mnt/media/musique
AUDIOBOOKS_DIR=/mnt/media/livres-audio
PODCASTS_DIR=/mnt/media/podcasts
